@font-face {
    font-family: 'com';
    src: url('../fonts/Comfortaa-VariableFont_wght.ttf');
}
body{
    font-family: 'com';
    margin: 0;
    padding: 0;
}
*{
    transition: .3s;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
li{

    list-style: none;
}
a{
    text-decoration: none;

}
h1,h2,h3,h4,h5,h6{
    color: #ff590c;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    margin: 0 auto;
    width: 90%;
    
}
.header{
    height: calc(100vh - 10vh);
    display: flex;
    align-items: center;
    justify-content : center;
    background-image: url('../img/web88.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}
.header .title {
    color : #ff590c;
}
.header .title span{
    color: #ec9b06;
}
.header .descrip{
    color : #ff590c;
    font-size: 20px;
}
.nav {
    background: #333;
    padding: 2px 25px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 8;
}
.nav .logo {
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.nav .links li {
    display: inline-block;
    padding: 15px;
}
.nav .links li:hover{
    background-color: #fff;
}
.nav .links li:hover a {
    color: #ff590c;
}
.nav .links li a {
    color:#fff;
}
.nav .logo span::first-letter{
    font-size: 35px;
    padding: 2px 5px;
    margin-right: 3px;
    background-color: #696969;
    border: 2px solid #fff;
    text-shadow: 3px 2px #fff;
}
.nav .logo  .lasName {
    color : #ff590c;
}
.sectionAbout {
    padding: 50px;

}

.sectionAbout .container {
    display: flex;
    justify-content: space-around;
}
.imgAbout,.txtAbout {
    width: 50%;
}
.sectionAbout .txtAbout p {
line-height: 25px;
color : #7f7676;
}

.sectionSkills {
    background-color: #e7e7e7;
    padding: 50px;

}
.sectionSkills .container{
    display: flex;
    justify-content: space-around;
    
}

.txtSkills,.progresSkills{
    width: 50%;
}
.txtSkills a {
    background-color: transparent;
    border: 2px solid #2ecc71;
    padding: 10px;
    text-align: center;
    color: #2ecc71;
    margin-top: 10px;
    display: inline-block;
}

.progresSkills {
    padding: 20px;
}
.progresSkills .parentProgres{
    background-color: #fff;
    border-radius: 3px;
    padding: 25px;
    margin: 10px;
}
.progresSkills .parentProgres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progresSkills .parentProgres .titleProgres {
font-weight: bold;
margin-right: 10px;
width: 25%;

}
.progresSkills .parentProgres .progres{
    width: 75%;
    background-color: #f6f6f6;
    height: 18px;
    border-radius:25px ;
    position: relative;
}
.progTape{
    position: absolute;
    width: 0;
    height: 100%;
    background: #ff590c;
    border-radius:25px ;
    transition-duration : 4s;
    transition-property: width;
    transition-timing-function: ease-in;

}

.sectionOurProj {
    padding: 50px;
}
.titleOurProj{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 20%;

}
.titleOurProj::after{
    content: '';
    position: absolute;
    width: 70%;
    text-align: center;
    height: 5px ;
    background-color: tomato;
    right: 10%;
    bottom: -10px;

}
.postBlog {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.post {
    position: relative;
    width: 30%;
    overflow: hidden;
    border: 2px solid #ccc;
    margin: 15px 10px;
}
.post .imgPost {
    width: 100%;
    height: 100%;
}
.post:hover .contentPost{
opacity: .8;;
}
.post .contentPost{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff590c;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.post .contentPost span {
    color: #fff;
}


.sectionOurCustomers{
    padding: 50px;
    background-color: #e7e7e7;

}
.titleCustomers{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 25%;

}
.titleCustomers::after{
    content: '';
    position: absolute;
    width: 70%;
    text-align: center;
    height: 5px ;
    background-color: tomato;
    right: 10%;
    bottom: -10px;

}
.sectionOurCustomers .contetnSection{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.customer {
    width: 30%;
}
.imgCustom{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 0 auto;
    overflow: hidden;
    opacity: .7;
    

}
.imgCustom:hover{
    opacity: 1;
}
.nameCustom{
    margin: 10px;
    text-align: center;
}
.nameCustom span {
    font-size: 20px;
    color: #ff590c;
    font-weight: bold;
}
.ourCustom {
    text-align: center;
}


.sectionConactUs{
    padding: 50px;
    background-image: url('../img/map3.jpg');
    background-size: cover;

}
.titleContact{
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 25%;

}
.titleContact::after{
    content: '';
    position: absolute;
    width: 70%;
    text-align: center;
    height: 5px ;
    background-color: tomato;
    right: 10%;
    bottom: -10px;

}
.formContact{
    margin: 10% auto;
    width: 70%;
}
.formContact form {
    display: flex;
    justify-content: space-around;
}
.formContact form > div {
    width: 50%;
    margin: 0 5px;
}
.msg input{
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    border: 0;
    margin-bottom: 5px;
    outline: none;
}
.msg button {
    width: 100%;
    padding: 10px;
    background-color: #ff590c;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: 0;
}
.prviewMsg textarea {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: #ccc;
    
}
.footer{
    background-color: #333;
    overflow: hidden;
}
.contentFooter {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.copyRight {
    margin-bottom: 40px;
    color: #fff;
}
.socialMedia span{
    height: 30px;
    width: 30px;
    display: inline-block;
}

#top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #ff590c;
    color: #fff;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
    z-index: 99;
    cursor: pointer;
    display: none;
}
#top:hover{
    background-color: #d0490b;
}